.modal {
  position: fixed;
  z-index: 5;
  background-color: rgba(#fff, .98);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity:0;
  visibility: hidden;
  transition: all .3s ease-out;

  &__inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:100%;
  }

  &__description {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.65;
  }

  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size:2rem;
    color: $mainColor;
    transform: scaleX(1.2);
    transform-origin: 100% 0;
    cursor: pointer;

    &:hover {
      color: $mainOrange;
    }
  }

  &--show {
    opacity: 1;
    visibility: visible;
  }
}