.primary-nav {

  padding-top: 10px;
  @mixin atMedium {
    padding-top: 0;
  }
  &--pull-right {
    @mixin atMedium {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    list-style: none;
    display: inline-block;
    padding-right: 12px;

    @mixin atMedium {
      float: left;
      padding-right: 20px;
      display: block;

    }

  }

  li:last-child {
    padding-right: 0;

    @mixin atMedium {
      padding-right: 20px;
    }
  }

  a {
    background-color: rgba($mainColor, 1);
    font-size: .8rem;
    color: #FFF;
    font-weight: 400;
    text-decoration: none;
    display: block;
    padding: 5px 8px;
    text-transform: uppercase;
    letter-spacing: rem(1);
    outline: 0;
    border-radius: 4px;
    border:1px solid  #fff;

    @mixin atMedium {
      background-color: transparent;
      padding: 12px 12px;
      font-size: 1rem;
      border: 0;

      &.active {
        color: $mainOrange;
      }
    }
  }
}