.products {

  &__description {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;

  }

  &__picture {
    white-space: nowrap;

    & img {
      vertical-align: middle;
    }
  }
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}